<!-- views/partials/footer.ejs -->

<footer>
    <code>
        made by:
        <a href="mailto:hello@thomasmaclean.be">thomas maclean</a>
        <i class="emoji">🤖</i>

        <%='© ' +new Date().getFullYear() %>
    </code>
</footer>