<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDZ | Contact</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">

    <link rel="stylesheet" href="main.css">
</head>

<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a class="nav-link" href="/home">home</a>
                </li>
                <li>
                    <a class="nav-link" href="/opladen">opladen</a>
                </li>
                <li>
                    <a class="nav-link" href="/volgorde">volgorde</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="/contact">contact</a>
                </li>
                <li>
                    <a class="nav-link" href="/adduser">users</a>
                </li>
            </ul>
        </nav>
        <h1 class="admin-header">Contact.</h1>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, exercitationem commodi reiciendis velit dolorum
            fugit aut voluptates natus dolores ut sunt magnam excepturi porro similique animi nobis adipisci nam inventore!</p>

        <img src="https://media.giphy.com/media/PPtDS5suMCNMc/giphy.gif" alt="wnkr">
    </main>
    <footer>
        <code>
            made by:
            <a href="mailto:thomas.maclean+work@gmail.com">thomas maclean</a>
            <i class="emoji">🤖</i>

            <%='© ' +new Date().getFullYear() %>
        </code>
    </footer>

</body>

</html>