<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDZ | Opladen</title>

    <link rel="icon" href="faviconSDZ.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="faviconSDZ.ico" type="image/x-icon" />
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="data.css">
</head>

<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a class="nav-link" href="/home">home</a>
                </li>
                <li>
                    <a class="nav-link" href="/opladen">opladen</a>
                </li>
                <li>
                    <a class="nav-link" href="/volgorde">volgorde</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="/data">data</a>
                </li>
                <li>
                    <a class="nav-link" href="/contact">contact</a>
                </li>
                <li>
                    <a class="nav-link" href="/adduser">users</a>
                </li>
            </ul>
        </nav>
        <h1 class="admin-header">Data.</h1>
        <hr>
        <p>Hier kan je de tekst aanpassen voor de titel, uitleg en knop op de homepagina.
        </p>
        <form>
            <div class="row">
                <div class="six columns">
                    <label for="title">Title</label>
                    <input class="u-full-width" type="text" name="title" placeholder="Ster der zee">
                    <label for="tekst">Omschrijving</label>
                    <input class="u-full-width" type="text" name="tekst" placeholder="Lorum ipsum">
                    <label for="knop">Knop</label>
                    <input class="u-full-width" type="text" name="knop" placeholder="LEES">
                    <button class="button" id="cancelButton">Cancel</button>
                    <input class="button button-primary" type="submit" value="opslaan" name="submit" id="uploadButton">
                </div>
                <div class="six columns canvas-container">

                </div>
            </div>
        </form>

    </main>
    <footer>
        <code>
            made by:
            <a href="mailto:hello@thomasmaclean.be">thomas maclean</a>
            <i class="emoji">🤖</i>

            <%='© ' +new Date().getFullYear() %>
        </code>
    </footer>

    <div class="loading">
        <div class="loading-msg">
            Bestanden worden opgeslaan in de ☁️ ...
            <br> even geduld aub...
        </div>
        <img class="loading-gif" src="https://i.giphy.com/media/W6ZwIlNEHxLAA/giphy-downsized.gif" alt="loading image">
    </div>
    <script src="data.js"></script>

</body>

</html>