<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDZ | opladen</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a class="nav-link" href="/home">home</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="/opladen">opladen</a>
                </li>
                <li>
                    <a class="nav-link" href="/volgorde">volgorde</a>
                </li>
                <li>
                    <a class="nav-link" href="/contact">contact</a>
                </li>
            </ul>
        </nav>
        <h1>Afbeeldingen Opladen.</h1>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, exercitationem commodi reiciendis velit dolorum
            fugit aut voluptates natus dolores ut sunt magnam excepturi porro similique animi nobis adipisci nam inventore!</p>
        <form>
            <div class="row">
                <div class="six columns">
                    <label for="fileInput">
                        <a class="button">Tekening opladen...</a>
                    </label>
                    <input type="file" name="image" id="fileInput" onchange="changeEventHandler(event);">
                    <label for="name">Naam</label>
                    <input class="u-full-width" type="text" name="name" placeholder="blabla.jpeg">
                    <label for="desc">Omschrijving</label>
                    <input class="u-full-width" type="text" name="desc" placeholder="eerste pagina...">
                    <button class="button" id="cancelButton">Cancel</button>
                    <input class="button button-primary" type="submit" value="opslaan" name="submit" id="uploadButton">
                </div>
                <div class="six columns canvas-container">
                    <label for="canvas" class="u-full-width">Preview</label>
                    <canvas class="u-full-width" height="400" width="400"></canvas>
                </div>
            </div>
        </form>

    </main>
    <footer>
        <code>
            made by:
            <a href="mailto:thomas.maclean+work@gmail.com">thomas maclean</a>
            <i class="emoji">🤖</i>

            <%='© ' +new Date().getFullYear() %>
        </code>
    </footer>

    <div class="loading">
        <div class="loading-msg">
            Bestanden worden opgeslaan in de ☁️ ...
            <br> even geduld aub...
        </div>
        <img class="loading-gif" src="https://media.giphy.com/media/W6ZwIlNEHxLAA/giphy.gif" alt="loading image">
    </div>
    <script src="main.js"></script>

</body>

</html>