<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>* SDZ *</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <style>
        html,
        body {
            margin: 0;
            width: 100vw;
            height: 100vh;
        }

        img {
            width: 100%;
        }

        .strip-container {
            height: 100%;
            width: 100%;
            max-width: 500px;
            background: lightblue;
            margin: auto;
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body>


    <div class="strip-container">
        <img>
    </div>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="story.js"></script>

</body>

</html>